.row {
  overflow: auto;
}

  .row div[class*="col-"] {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    padding: 10px;
  }

  @media screen and (max-width : 767px) {

    .row div[class*="col-"] {
      width: 100%;
    }

    .row .col-mb-1 {
      width: 8.33% !important;
    }

    .row .col-mb-2 {
      width: 16.66% !important;
    }

    .row .col-mb-3 {
      width: 25% !important;
    }

    .row .col-mb-4 {
      width: 33.33% !important;
    }

    .row .col-mb-5 {
      width: 41.66% !important;
    }

    .row .col-mb-6 {
      width: 50% !important;
    }

    .row .col-mb-7 {
      width: 58.33% !important;
    }

    .row .col-mb-8 {
      width: 66.66% !important;
    }

    .row .col-mb-9 {
      width: 75% !important;
    }

    .row .col-mb-10 {
      width: 83.33% !important;
    }

    .row .col-mb-11 {
      width: 91.66% !important;
    }

    .row .col-mb-12 {
      width: 100% !important;
    }
  }

  @media only screen and (min-width : 768px) and (max-width : 991px) {

    .row div[class*="col-"] {
      width: 100%;
    }

    .row .col-tb-1 {
      width: 8.33% !important;
    }

    .row .col-tb-2 {
      width: 16.66% !important;
    }

    .row .col-tb-3 {
      width: 25% !important;
    }

    .row .col-tb-4 {
      width: 33.33% !important;
    }

    .row .col-tb-5 {
      width: 41.66% !important;
    }

    .row .col-tb-6 {
      width: 50% !important;
    }

    .row .col-tb-7 {
      width: 58.33% !important;
    }

    .row .col-tb-8 {
      width: 66.66% !important;
    }

    .row .col-tb-9 {
      width: 75% !important;
    }

    .row .col-tb-10 {
      width: 83.33% !important;
    }

    .row .col-tb-11 {
      width: 91.66% !important;
    }

    .row .col-tb-12 {
      width: 100% !important;
    }
  }

  @media only screen and (min-width : 992px) {

    .row div[class*="col-"] {
      width: 100%;
    }

    .row .col-pc-1 {
      width: 8.33% !important;
    }

    .row .col-pc-2 {
      width: 16.66% !important;
    }

    .row .col-pc-3 {
      width: 25% !important;
    }

    .row .col-pc-4 {
      width: 33.33% !important;
    }

    .row .col-pc-5 {
      width: 41.66% !important;
    }

    .row .col-pc-6 {
      width: 50% !important;
    }

    .row .col-pc-7 {
      width: 58.33% !important;
    }

    .row .col-pc-8 {
      width: 66.66% !important;
    }

    .row .col-pc-9 {
      width: 75% !important;
    }

    .row .col-pc-10 {
      width: 83.33% !important;
    }

    .row .col-pc-11 {
      width: 91.66% !important;
    }

    .row .col-pc-12 {
      width: 100% !important;
    }
  }
